.navbar {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 30px;
}
.ulnav {
  display: flex;
  justify-content: space-around;
}
.li {
  background-color: green;
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
  padding: 10%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.intro {
  margin-right: 70%;
  padding-left: 1%;
}
.image {
  margin-right: 70%;
  padding-left: 1%;
  display: flex;
  /* background-color: yellow; */
  width: 50%;
}
.ing {
  flex-direction: column;
}
.resize {
  width: auto;
  height: 300px;
  padding-top: 10px;
}
.progress {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}
.footer-container {
  display: flex;
  background-color: rgb(103, 146, 103);
  justify-content: center;
  align-items: center;
}

.footer-policies {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
}

.footer-policies ul {
  padding: 0;
  font-size: 0.7em;
  display: flex;
  list-style: none;
}

.footer-policies a {
  margin: 10px;
  text-decoration: none;
}

.footer-logo-imgs-container {
  display: flex;
  margin: 0;
}

.footer-logo-imgs-container img {
  margin: 2px;
}
