body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main {
  margin-left: 8%;
  margin-right: 8%;
}

.first-main-section {
  display: flex;
}

.main-img-left {
  display: flex;
  min-width: 30%;
}

.main-img-left img {
  min-width: 100%;
}

.right-panel-description {
  min-width: 65%;
  margin-left: 4%;
}

.right-panel-title {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.right-panel-title p {
  padding: 0;
  margin: 0;
  color: rgb(0, 51, 0);
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.right-panel-title span {
  margin-bottom: 0.5em;
  color: rgb(0, 51, 0);
}

.time-limit {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
}

.line-limit {
  width: 80%;
  height: 2px;
  background-color: rgb(177, 175, 175);
}

.time-limit span {
  color: green;
  margin-right: 0.3em;
}

.limit-container {
  margin-right: 1em;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1em;
  margin-bottom: 1em;
}

.links img {
  max-width: 4%;
}

.links a {
  margin: 0.4em;
  text-decoration: none;
  color: rgb(34, 59, 34);
}

.nutrition {
  margin: 0;
  padding: o;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  color: rgb(34, 59, 34);
}

.nutrition ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  max-width: 70%;
}

.nutrition ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  border: 1px solid;
  min-width: 19%;
}

.nutrition ul p {
  margin: 4px;
}

.nutrition ul h6 {
  margin: 4px;
}

.nutrition h5 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.line-nutrition {
  width: 80%;
  height: 1px;
  background-color: rgb(177, 175, 175);
}

.second-main-section {
  display: flex;
}

.ingredients {
  max-width: 25%;
}

.ingredients span {
  display: flex;
  margin-bottom: 1em;
  flex-flow: column;
  max-width: 100%;
}

.ingredients p {
  border: 1px solid;
  padding: 1em;
  max-width: 80%;
  background-color: rgb(199, 228, 218);
}

.empty-rect {
  border: 1px solid rgb(184, 182, 182);
  max-width: 74%;
  min-height: 1em;
  background-color: rgb(245, 244, 244);
}

.number-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.number-container p {
  margin: 0;
  margin-right: 1em;
  color: rgb(25, 43, 25);
}

.method span {
  margin-bottom: 1em;
  max-width: 80%;
}

.method .tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: rgb(51, 155, 155);
  border-style: dashed;
  padding: 1em;
  background-color: rgb(199, 228, 218);
  max-width: 80%;
  max-height: 20%;
  margin-top: 1em;
}

.tips h2 {
  color: rgb(34, 59, 34);
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #49c5b1;
  margin-bottom: 3%;
}

.h-homepage-icon {
  display: block;
  margin-left: 50%;
  padding-top: 5%;
}

.h-homepage-icon:hover {
  transform: translateY(-15px);
  transition: 0.5s ease;
}

.navleft {
  background-color: white;
  width: 15%;
  padding-top: 1%;
}

.navright {
  width: 70%;
  margin-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.navbar ul a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
}

.navbar ul a:hover {
  color: darkred;
  transition: 0.3s ease;
}

.h-sign-up {
  background-color: #337179;
  padding: 8%;
  display: flex;
  justify-content: center;
  min-width: 150px;
  margin-top: -8%;
  border-radius: 5px;
}

.h-sign-up:hover {
  color: rgb(196, 195, 195);
  transition: 0.3s ease;
}

.footer-container {
  display: flex;
  background-color: rgb(103, 146, 103);
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.footer-policies {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
}

.footer-policies ul {
  padding: 0;
  font-size: 0.7em;
  display: flex;
  list-style: none;
}

.footer-policies a {
  margin: 10px;
  text-decoration: none;
}

.footer-logo-imgs-container {
  display: flex;
  margin: 0;
}

.footer-logo-imgs-container img {
  margin: 2px;
}
