body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #49c5b1;
  margin-bottom: 3%;
}

.h-homepage-icon {
  display: block;
  margin-left: 50%;
  padding-top: 5%;
}

.h-homepage-icon:hover {
  transform: translateY(-15px);
  transition: 0.5s ease;
}

.navleft {
  background-color: white;
  width: 15%;
  padding-top: 1%;
}

.navright {
  width: 70%;
  margin-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.navbar ul a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
}

.navbar ul a:hover {
  color: darkred;
  transition: 0.3s ease;
}

.h-sign-up {
  background-color: #337179;
  padding: 8%;
  display: flex;
  justify-content: center;
  min-width: 150px;
  margin-top: -8%;
  border-radius: 5px;
}

.h-sign-up:hover {
  color: rgb(196, 195, 195);
  transition: 0.3s ease;
}

.h-photo-and-heading,
.h-ingredients-and-method {
  width: 55%;
  margin: 0 15%;
  display: flex;
}

.h-photo-container {
  width: 40%;
}

.h-save-print {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.h-save,
.h-print {
  color: white;
  background-color: #49c5b1;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.h-info-container {
  width: 70%;
  padding: 0 4%;
}

.h-h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.2em;
  margin-top: -2%;
  color: #337179;
}

.h-h3 {
  font-family: "Oswald", sans-serif;
  font-size: 0.85em;
  margin-top: -4%;
  color: #337179;
  font-weight: 700;
}

.h-button-vegetarian {
  background-color: #49c5b1;
  color: white;
  padding: 1%;
  border: none;
  font-size: 0.75em;
  cursor: pointer;
}

.h-short-info-container {
  font-family: "Noto Sans JP", sans-serif;
  border-top: 1px solid #49c5b1;
  margin-top: 4%;
}

.h-prep-info-container {
  font-family: "Oswald", sans-serif;
  font-size: 0.9em;
  color: #49c5b1;
  font-weight: bold;
  border-top: 1px solid #49c5b1;
  margin-top: 4%;
}

.h-bold {
  color: black;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 0.9em;
}

.fa-tag {
  color: #373a36;
}

.h-tags {
  border-top: 1px solid #49c5b1;
  margin-top: 4%;
  padding-top: 2%;
}

.h-tags a {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  color: #373a36;
}

.h-nutrition-container {
  border-top: 1px solid #49c5b1;
  margin-top: 4%;
}

.h-nutrition-info-container {
  display: flex;
  justify-content: space-evenly;
  max-height: 100px;
}

.h-nutrition-box {
  border: 1px solid black;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  padding: 1%;
  min-width: 50px;
}

.h-box-row {
  padding-top: 1%;
  font-size: 0.7em;
}

.h-box-top-row {
  padding-top: 5%;
  margin-bottom: -25%;
  font-size: 0.9em;
}

.h-box-bottom-row {
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 0.9em;
}

.h-ingredients-container {
  width: 35%;
  font-family: "Noto Sans JP", sans-serif;
}

.h-ingredients-container h2 {
  color: #337179;
  font-weight: 900;
  font-family: sans-serif;
}

.h-method-container {
  width: 65%;
  font-family: "Noto Sans JP", sans-serif;
}

.h-method-container h2 {
  color: #337179;
  font-weight: 900;
  font-family: sans-serif;
}

.h-tips-box {
  border: 2px dashed #337179;
  padding-left: 4%;
  padding-bottom: 3%;
  margin: 8% 0;
}

@media (max-width: 1500px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navbar {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .h-ingredients-and-method {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 4%;
  }

  .h-photo-and-heading {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .h-photo-container {
    max-width: 300px;
    margin-left: 4%;
    margin-bottom: 2%;
  }

  .h-image {
    height: 400px;
  }

  .h-nutrition-info-container {
    flex-wrap: wrap;
  }

  footer {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .footer-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .h-image {
    height: 300px;
  }

  .h-nutrition-info-container {
    margin-bottom: 30%;
  }
}

.footer-container {
  display: flex;
  background-color: rgb(103, 146, 103);
  justify-content: center;
  align-items: center;
}

.footer-policies {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
}

.footer-policies ul {
  padding: 0;
  font-size: 0.7em;
  display: flex;
  list-style: none;
}

.footer-policies a {
  margin: 10px;
  text-decoration: none;
}

.footer-logo-imgs-container {
  display: flex;
  margin: 0;
}

.footer-logo-imgs-container img {
  margin: 2px;
}
