body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #49c5b1;
  margin-bottom: 3%;
}

.h-homepage-icon {
  display: block;
  margin-left: 50%;
  padding-top: 5%;
}

.h-homepage-icon:hover {
  transform: translateY(-15px);
  transition: 0.5s ease;
}

.navleft {
  background-color: white;
  width: 15%;
  padding-top: 1%;
}

.navright {
  width: 70%;
  margin-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.navbar ul a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
}

.navbar ul a:hover {
  color: darkred;
  transition: 0.3s ease;
}

.h-sign-up {
  background-color: #337179;
  padding: 8%;
  display: flex;
  justify-content: center;
  min-width: 150px;
  margin-top: -8%;
  border-radius: 5px;
}

.h-sign-up:hover {
  color: rgb(196, 195, 195);
  transition: 0.3s ease;
}

.text-title-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-title-main h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3em;
  margin: 0;
}

.text-title-main p {
  margin-bottom: 3em;
}

.main-container {
  background-color: rgb(226, 220, 213);
  border-style: solid;
  border-color: aliceblue;
  border-radius: 25px;
  margin-left: 20%;
  margin-right: 20%;
}

.all-imgs-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.hari-image-container {
  position: relative;
  width: 70%;
}

.hari-image {
  display: block;
  width: 100%;
  height: 100%;
}

.hari-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
}

.hari-overlay:hover {
  opacity: 1;
  background-color: #ffffffcc;
}

.hari-text {
  text-align: center;
  color: black;
}

.ehsan-image-peporoni {
  position: relative;
  width: 64%;
}

.ehsan-image-peporoni img {
  width: 100%;
  height: auto;
  display: block;
}

.pizza-pepperoni-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
}

.pizza-pepperoni-overlay:hover {
  opacity: 1;
  background-color: #ffffffcc;
}
.text-pepperoni {
  text-align: center;
  color: black;
}

.kevinimageh {
  opacity: 1;
  background-color: #ffffffcc;
}

.kevin-image {
  position: relative;
  width: 60%;
}

.kevin-image img {
  max-width: 100%;
}

.footer-container {
  display: flex;
  background-color: #49c5b1;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.footer-policies {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
}

.footer-policies ul {
  padding: 0;
  font-size: 0.7em;
  display: flex;
  list-style: none;
}

.footer-policies a {
  margin: 10px;
  text-decoration: none;
}

.footer-logo-imgs-container {
  display: flex;
  margin: 0;
}

.footer-logo-imgs-container img {
  margin: 2px;
}

/*  Start Video Section Pranita*/

.videoconatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  column-gap: 20px;
}
.imgholder img {
  margin: 5px;
  transition: all 2s;
  width: 200px;
  height: 250px;
}
img:hover {
  transform: scale (1.1);
  cursor: pointer;
}

.imgholder {
  position: relative;
}
.imgholder a {
  position: absolute;
  display: block;
  background: url(http://www.slatecube.com/images/play-btn.png);

  height: 50px;
  width: 50px;
  top: 200px;
  left: 20px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  text-align: end;
}
.title {
  text-align: center;
  color: #337179;
  font-family: sans-serif;
  font-size: 20px;
}

.videoconatiner h3 {
  color: #337179;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

/*End Video Section Pranita*/
.Pranita-image-container {
  position: relative;
  width: 70%;
}

.Pranita-image {
  position: relative;
  width: 64%;
}

.Pranita-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
}

.Pranita-overlay:hover {
  opacity: 1;
  background-color: #ffffffcc;
}

.Pranita-text {
  text-align: center;
  color: black;
}
/*Pranita image */

