body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #49c5b1;
  margin-bottom: 3%;
}

.h-homepage-icon {
  display: block;
  margin-left: 50%;
  padding-top: 5%;
}

.h-homepage-icon:hover {
  transform: translateY(-15px);
  transition: 0.5s ease;
}

.navleft {
  background-color: white;
  width: 15%;
  padding-top: 1%;
}

.navright {
  width: 70%;
  margin-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.navbar ul a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
}

.navbar ul a:hover {
  color: darkred;
  transition: 0.3s ease;
}

.h-sign-up {
  background-color: #337179;
  padding: 8%;
  display: flex;
  justify-content: center;
  min-width: 150px;
  margin-top: -8%;
  border-radius: 5px;
}

.h-sign-up:hover {
  color: rgb(196, 195, 195);
  transition: 0.3s ease;
}

.hari-image-container {
  position: relative;
  width: 15%;
}

.hari-image {
  display: block;
  width: 100%;
  height: auto;
}

.hari-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
}

.hari-overlay:hover {
  opacity: 1;
  background-color: #ffffffcc;
}

.hari-text {
  text-align: center;
  color: black;
}

.footer-container {
  display: flex;
  background-color: rgb(103, 146, 103);
  justify-content: center;
  align-items: center;
}

.footer-policies {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
}

.footer-policies ul {
  padding: 0;
  font-size: 0.7em;
  display: flex;
  list-style: none;
}

.footer-policies a {
  margin: 10px;
  text-decoration: none;
}

.footer-logo-imgs-container {
  display: flex;
  margin: 0;
}

.footer-logo-imgs-container img {
  margin: 2px;
}
